@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 175 53% 77%; /* New Aqua (#76E0D5) background */
    --foreground: 272 40% 60%; /* Mystic Amethyst for all text */
    --card: 37 100% 93%; /* New Pearl White (#FFF3DE) cards */
    --card-foreground: 272 40% 60%; /* Mystic Amethyst text on cards */
    --popover: 37 100% 93%; /* New Pearl White (#FFF3DE) popovers */
    --popover-foreground: 272 40% 60%; /* Mystic Amethyst text on popovers */
    --primary: 175 53% 77%; /* New Aqua (#76E0D5) as primary interface color */
    --primary-foreground: 272 40% 60%; /* Mystic Amethyst text for primary areas */
    --secondary: 272 40% 60%; /* Mystic Amethyst as secondary color */
    --secondary-foreground: 37 100% 93%; /* New Pearl White (#FFF3DE) text for secondary areas */
    --muted: 175 53% 90%; /* Lighter New Aqua (#76E0D5) for muted elements */
    --muted-foreground: 272 40% 60%; /* Mystic Amethyst for muted text */
    --accent: 0 59% 68%; /* Warm Coral (#FFAB96) for accents */
    --accent-foreground: 272 40% 60%; /* Mystic Amethyst for accent text */
    --destructive: 272 40% 60%; /* Mystic Amethyst for destructive actions */
    --destructive-foreground: 37 100% 93%; /* New Pearl White (#FFF3DE) text for destructive buttons */
    --border: 0 59% 68%; /* Warm Coral (#FFAB96) borders */
    --input: 175 53% 90%; /* Light New Aqua (#76E0D5) inputs */
    --ring: 0 59% 68%; /* Warm Coral (#FFAB96) focus rings */
    --radius: 0.5rem; /* Border-radius */
  }
}

h1 {
  font-size: 48px;
  font-family: "Tangerine";
}

h2 {
  font-size: 36px;
  font-family: "Tangerine";
}

h3 {
  font-size: 24px;
}

p {
  font-family: "Lora";
}

button {
  background-color: var(--background);
  color: var(--background);
  padding: 20px;
  border: none;
  transition: transform 0.3s ease;
}
